Table of Contents:
1. Create Connection
2. SQLite3 Cursor
3. Create Database
4. Create Table
5. Insert in Table
6. Update Table
7. Select statement
8. Fetch all data
9. SQLite3 rowcount
10. List tables
11. Check if table exists or not
12. Drop Table
13. SQLite3 Exceptions
    <br/>13.1 DatabaseError
    <br/>13.2 IntegrityError
    <br/>13.3 ProgrammingError
    <br/>13.4 OperationalError
    <br/>13.5 NotSupportedError
14. SQLite3 Executemany (Bulk insert)
15. Close Connection
16. SQLite3 datetime

# 01 Create Connection

``` mysql
import sqlite3

con = sqlite3.connect('mydatabase.db')
```

# 02 SQLite3 Cursor

To execute SQLite statements in Python, you need a cursor object. You can create it using the **`cursor()`** method.

The SQLite3 cursor is a method of the connection object. To execute the SQLite3 statements, a connection is established at first and then an object of the cursor is created using the connection object as follows:

``` mysql
con = sqlite3.connect('mydatabase.db')

cursorObj = con.cursor()
```

Now we can use the cursor object to call the **`execute()`** method to execute any SQL queries.

# 03 Create Database

When you create a connection with SQLite, a database file is automatically created if it doesn’t already exist. This database file is created on disk, we can also create a database in RAM by using **`:memory:`** with the connect function. This database is called *in-memory database*.

Consider the code below in which we have created a database with a try, except and finally blocks to handle any exceptions:

In [ ]:
import sqlite3
from sqlite3 import Error

def sql_connection():
    try:
        con = sqlite3.connect(':memory:')
        print("Connection is established: Database is created in memory")
    except Error:
        print(Error)
    finally:
        con.close()
        print('Database close')

sql_connection()

# 04 Create Table

To create a table in SQLite3, you can use the Create Table query in the `execute()` method. Consider the following steps:
1. The connection object is created
2. Cursor object is created using the connection object
3. Using cursor object, execute method is called with create table query as the parameter

Let’s create employees with the following attributes:
``` mysql
employees (id, name, salary, department, position, hireDate)
```

In [ ]:
import sqlite3
from sqlite3 import Error

def sql_connection():
    try:
        con = sqlite3.connect('mydatabase.db')
        return con
    except Error:
        print(Error)

def sql_table(con):
    cursorObj = con.cursor()
    cursorObj.execute("CREATE TABLE employees(\
                                            id integer PRIMARY KEY, \
                                            name text, \
                                            salary real, \
                                            department text, \
                                            position text, \
                                            hireDate text)")
    con.commit()
    
con = sql_connection()
sql_table(con)

In the above code, we have defined two methods:
- the first one establishes a connection 
- the second method creates a cursor object to execute the create table statement.

The **`commit()`** method saves all the changes we make. In the end, both methods are called.

# 05 Insert in Table

To insert data in a table, we use the `INSERT INTO` statement. Consider the following line of code:
``` mysql
cursorObj.execute("INSERT INTO employees VALUES(1, 'John', 700, 'HR', 'Manager', '2017-01-04')")

con.commit()
```

In [ ]:
cursorObj = con.cursor()
cursorObj.execute("INSERT INTO employees VALUES(1, 'John', 700, 'HR', 'Manager', '2017-01-04')")
con.commit()

We can also pass values/arguments to an `INSERT` statement in the `execute()` method. You can use the question mark `(?)` as a placeholder for each value. The syntax of the INSERT will be like the following:
``` mysql
cursorObj.execute('''INSERT INTO employees(id, name, salary, department, position, hireDate) \
                            VALUES(?, ?, ?, ?, ?, ?)''', entities)
```
Where entities contain the values for the placeholders as follows:
``` mysql
entities = (2, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')
```

The entire code is as follows:

In [ ]:
import sqlite3

con = sqlite3.connect('mydatabase.db')

def sql_insert(con, entities):

    cursorObj = con.cursor()
    
    cursorObj.execute('INSERT INTO employees(id, name, salary, department, position, hireDate) \
                                VALUES(?, ?, ?, ?, ?, ?)', entities)
    
    con.commit()

entities = (2, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')

sql_insert(con, entities)

# 06 Update Table

To update the table simply create a connection, then create a cursor object using the connection and finally use the **`UPDATE`** statement in the `execute()` method.

Suppose that we want to update the name of the employee whose id equals 2. For updating, we will use the UPDATE statement and for the employee whose id equals 2. We will use the WHERE clause as a condition to select this employee.

Consider the following code:

In [ ]:
def sql_update(con):
    cursorObj = con.cursor()
    cursorObj.execute('UPDATE employees \
                        SET name = "Rogers" \
                          where id = 2')
    con.commit()

sql_update(con)

# 07 Select statement

The select statement is used to select data from a particular table. If you want to select all the columns of the data from a table, you can use the asterisk (\*). The syntax for this will be as follows:
``` mysql
select * from table_name
```
In SQLite3, the `SELECT` statement is executed in the execute method of the cursor object. For example, select all the columns of the employees’ table, run the following code:

In [ ]:
cursorObj = con.cursor()
cursorObj.execute('SELECT * FROM employees ')

In [ ]:
cursorObj.execute('SELECT id, name FROM employees')

# 08 Fetch all data

To fetch the data from a database we will execute the `SELECT` statement and then will use the **`fetchall()`** method of the cursor object to store the values into a variable. After that, we will loop through the variable and print all values.

The code will be like this:

In [ ]:
import sqlite3

con = sqlite3.connect('mydatabase.db')

def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute('SELECT * FROM employees')
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)

sql_fetch(con)

You can also use the fetchall() in one line as follows:

In [ ]:
con = sqlite3.connect('mydatabase.db')
cursorObj = con.cursor()
cursorObj.execute('SELECT * FROM employees')
[print(row) for row in cursorObj.fetchall()]

If you want to fetch specific data from the database, you can use the `WHERE` clause.

In [ ]:
con = sqlite3.connect('mydatabase.db')
cursorObj = con.cursor()
cursorObj.execute('SELECT * FROM employees WHERE salary > 750.0')
[print(row) for row in cursorObj.fetchall()]

# 09 SQLite3 rowcount

The SQLite3 rowcount is used to return the number of rows that are affected or selected by the latest executed SQL query.

When we use rowcount with the `SELECT` statement, `-1` will be returned as how many rows are selected is unknown until they are all fetched. Consider the example below:

In [ ]:
print(cursorObj.execute('SELECT * FROM employees').rowcount)

Therefore, to get the row count, you need to fetch all the data, and then get the length of the result:

In [ ]:
rows = cursorObj.fetchall()

print(len(rows))

When the `DELETE` statement is used without any condition (a where clause), all the rows in the table will be deleted and the total number of deleted rows will be returned by `rowcount`.

If no row is deleted `0` will be returned.

# 10 List tables

To list all tables in a SQLite3 database, you should query `sqlite_master` table and then use the `fetchall()` to fetch the results from the SELECT statement.

The `sqlite_master` is the master table in SQLite3 which stores all tables.

In [ ]:
import sqlite3

con = sqlite3.connect('mydatabase.db')

def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute('SELECT name FROM sqlite_master WHERE  type= "table"')
    print(cursorObj.fetchall())

sql_fetch(con)

# 11 Check if table exists or not

When creating a table, we should make sure that the table is not already existed. Similarly, when removing/deleting a table, the table should exist.

To check if the table doesn’t already exist we use `“if not exists”` with the `CREATE TABLE` statement as follows:
``` mysql 
create table if not exists table_name (column1, column2, …, columnN)
```

In [ ]:
import sqlite3

con = sqlite3.connect('mydatabase.db')

def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute('create table if not exists projects(id integer, name text)')
    con.commit()

sql_fetch(con)

# 12 Drop table

You can drop/delete a table using the `DROP` statement. The syntax of DROP statement is as follows:
``` mysql
DROP TABLE table_name
```
To drop a table, the table should exist in the database. Therefore, it is recommended to use “if exists” with the drop statement as follows:
``` mysql
DROP TABLE IF EXISTS table_name
```
For example,

In [ ]:
import sqlite3

con = sqlite3.connect('mydatabase.db')

def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute('DROP TABLE IF EXISTS employees')
    con.commit()

sql_fetch(con)

# 13 SQLite3 Exceptions

Exceptions are the run time errors. In Python programming, all exceptions are the instances of the class derived from the `BaseException`.

In SQLite3, we have the following main Python exceptions:

### DatabaseError
Any error related to database raises the DatabaseError.

### IntegrityError
IntegrityError is a subclass of DatabaseError and is raised when there is a data integrity issue, for example,e foreign data isn’t updated in all tables resulting in the inconsistency of the data.

### ProgrammingError
The exception ProgrammingError raises when there are syntax errors or table is not found or function is called with the wrong number of parameters/ arguments.

### OperationalError
This exception is raised when the database operations are failed, for example, unusual disconnection. This is not the fault of the programmers.

### NotSupportedError
When you use some methods that aren’t defined or supported by database NotSupportedError exception is raised.

# 14 SQLite3 Executemany (Bulk insert)

In [ ]:
import sqlite3

con = sqlite3.connect('mydatabase.db')
cursorObj = con.cursor()
cursorObj.execute('CREATE TABLE IF NOT EXISTS projects(id integer, name text)')
data = [(1, "Ridesharing"), (2, "Water Purifying"), (3, "Forensics"), (4, "Botany")]
cursorObj.executemany("INSERT INTO projects VALUES(?, ?)", data)
con.commit()

# 15 Close Connection

In [ ]:
con = sqlite3.connect('mydatabase.db')

con.close()

# 16 SQLite3 datetime

In Python SQLite3 database, we can easily store date or time by importing the datatime module. The following formats are the most commonly used formats for datetime:
``` mysql
YYYY-MM-DD

YYYY-MM-DD HH:MM

YYYY-MM-DD HH:MM:SS

YYYY-MM-DD HH:MM:SS.SSS

HH:MM

HH:MM:SS

HH:MM:SS.SSS

now
```

In [ ]:
import sqlite3
import datetime

con = sqlite3.connect('mydatabase.db')
cursorObj = con.cursor()
cursorObj.execute('CREATE TABLE IF NOT EXISTS assignments(id integer, name text, date date)')
data = [(1, "Ridesharing", datetime.date(2017, 1, 2)), \
        (2, "Water Purifying", datetime.date(2018, 3, 4))]
cursorObj.executemany("INSERT INTO assignments VALUES(?, ?, ?)", data)
con.commit()

In [1]:
import os
os.remove("mydatabase.db")